.App {
  
}
img {
  width: 100%;
  max-width: 100%;
}
.window{
  transition: width 200ms;
}

.window-body h2{
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 0;
}
h2, h3{
  font-family: Arial, Helvetica, sans-serif;
}

fieldset ~ input[type=radio]+label {
  margin-top: 0.5em;
  margin-left: 2.6em;
}

fieldset:disabled > legend > label{
  color: #222;
}
.window-body select{
  margin-left: 0em;
  padding-left: 0.7em;
}
label+select{
  margin-left: 0.5em;
  
}

input[type=checkbox]+label {
  margin-right: 0.8em;
}

fieldset > fieldset {
  margin-top: 1em;
}